html {
	box-sizing: border-box;
	-webkit-user-select: none;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	margin: 0;
	padding: 0;
}

body {
	color: #1c1c1c;
	@include CircularStd_Book;
	min-height: 100vh;
	word-wrap: break-word;
	word-break: break-word;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	&:active {
		-webkit-tap-highlight-color: transparent;
	}
}

.wrapper {
	min-height: 100vh;
}
