.is-icon {
	flex-shrink: 0;
	display: block;
	padding: 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

@keyframes spin {
	0% {
		transform: translate(-50%, -50%) rotate(0);
	}

	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

.loading-container {
	position: relative;
}

.loading {
	display: block;
	width: 27px;
	height: 27px;
	background-size: contain;
	animation: spin 1s linear infinite;
	background-repeat: no-repeat;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}

.loading-white-icon {
	background-image: url(../images/icons/loading-white-icon.svg);
}

.loading-blue-icon {
	background-image: url(../images/icons/loading-blue-icon.svg);
}

.back-button-icon {
	background-image: url(../images/icons/back-button-icon.svg);
}

.wallet-icon {
	background-image: url(../images/icons/wallet-icon.svg);
}

.send-icon {
	background-image: url(../images/icons/send-icon.svg);
}

.receive-icon {
	background-image: url(../images/icons/receive-icon.svg);
}

.settings-icon {
	background-image: url(../images/icons/settings-icon.svg);
}

.confirmation-icon {
	background-image: url(../images/icons/confirmation-icon.svg);
}

.failed-icon {
	background-image: url(../images/icons/failed-icon.svg);
}

.received-arrow-icon {
	background-image: url(../images/icons/received-arrow-icon.svg);
}

.send-arrow-icon {
	background-image: url(../images/icons/send-arrow-icon.svg);
}

.sdc-coin-icon {
	background-image: url(../images/icons/sdc-coin-icon.svg);
}

.sdc-coin-bg-blue-icon {
	background-image: url(../images/icons/sdc-coin-bg-blue-icon.svg);
}

.eth-coin-icon {
	background-image: url(../images/icons/eth-coin-icon.svg);
}

.luv-coin-icon {
	background-image: url(../images/icons/luv-coin-icon.svg);
}

.luv-coin-bg-blue-icon {
	background-image: url(../images/icons/luv-coin-bg-blue-icon.svg);
}

.qr-code-small-white-icon {
	background-image: url(../images/icons/qr-code-small-white-icon.svg);
}

.qr-code-small-blue-icon {
	background-image: url(../images/icons/qr-code-small-blue-icon.svg);
}

.bell-icon {
	background-image: url(../images/icons/bell-icon.svg);
}

.bell-white-icon {
	background-image: url(../images/icons/bell-white-icon.svg);
}

.transaction-successfully-icon {
	background-image: url(../images/icons/transaction-successfully-icon.svg);
}

.transaction-failed-icon {
	background-image: url(../images/icons/transaction-failed-icon.svg);
}

.payment-success-icon {
	background-image: url(../images/icons/payment-success-icon.svg);
}

.payment-failed-icon {
	background-image: url(../images/icons/payment-failed-icon.svg);
}

.fingerprint-white-icon {
	background-image: url(../images/icons/fingerprint-white-icon.svg);
}

.fingerprint-icon {
	background-image: url(../images/icons/fingerprint-icon.svg);
}

.lock-icon {
	background-image: url(../images/icons/lock-icon.svg);
}

.lock-white-icon {
	background-image: url(../images/icons/lock-white-icon.svg);
}

.backup-icon {
	background-image: url(../images/icons/backup-icon.svg);
}

.logout-icon {
	background-image: url(../images/icons/logout-icon.svg);
}

.arrow-gray-icon {
	background-image: url(../images/icons/arrow-gray-icon.svg);
}

.close-white-icon {
	background-image: url(../images/icons/close-white-icon.svg);
}

.face-id-icon {
	background-image: url(../images/icons/face-id-icon.svg);
}

.face-id-white-icon {
	background-image: url(../images/icons/face-id-white-icon.svg);
}

.copy-blue-icon {
	background-image: url(../images/icons/copy-blue-icon.svg);
}

.copy-white-icon {
	background-image: url(../images/icons/copy-white-icon.svg);
}

.error-icon {
	background-image: url(../images/icons/error-icon.svg);
}

.attention-icon {
	background-image: url(../images/icons/attention-icon.svg);
}

.error-white-icon {
	background-image: url(../images/icons/error-white-icon.png);
}

.attention-white-icon {
	background-image: url(../images/icons/attention-white-icon.png);
}

.no-internet-connection-icon {
	background-image: url(../images/icons/no-internet-connection-icon.svg);
}
