.notification-list {
	position: fixed;
	bottom: 55px;
	left: 8px;
	z-index: 1;
	right: 8px;
	justify-content: space-between;

	&__item {
		background: #0063b6;
		border-radius: 6px;
		color: #fff;
		padding: 12px 13px;
		font-size: 14px;
		display: flex;
		align-items: center;
		overflow: hidden;
		max-height: 210px;
		min-height: 64px;
		animation-name: show-top-notification;
		animation-duration: 0.35s;
		transition: none;

		&.close {
			animation-name: close-bottom-notification;
			animation-duration: 0.35s;
			transition: none;
		}

		&:not(:last-child) {
			margin-bottom: 8px;
		}

		&.is-small {
			min-height: 44px;
		}

		&-container-left {
			line-height: 18px;
			margin-right: auto;
			display: flex;
			align-items: center;

			.text {
				max-width: 200px;

				&.text-full-width {
					max-width: initial;
				}
			}

			&.payment {
				@include res-375 {
					font-size: 12px;
					line-height: 16px;
				}
			}
		}

		&-container-right {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			padding-left: 10px;
			@include res-375 {
				padding-left: 5px;
			}
		}

		.notification-button {
			background: rgba(255, 255, 255, 0.1);
			padding: 8px 27px;
			min-height: 40px;
			min-width: 100px;
			font-size: 14px;
			@include CircularStd_Medium;
			border-radius: 6px;

			&.is-notification-button-small {
				text-transform: uppercase;
				min-width: 60px;
				flex-shrink: 0;
				padding: 8px 10px;
			}
		}

		.qr-code-button {
			background: rgba(255, 255, 255, 0.1);
		}
	}

	.notification-list__item {
		.is-icon.close-white-icon {
			width: 9px;
			height: 9px;
			margin-left: 13px;
		}

		.is-icon.lock-white-icon {
			width: 20px;
			height: 20px;
			margin-right: 6px;
		}

		.bell-white-icon {
			width: 20px;
			height: 20px;
			margin-right: 5px;
		}

		.attention-white-icon,
		.error-white-icon {
			width: 18px;
			height: 18px;
			margin-right: 6px;
		}

		.no-internet-connection-icon {
			width: 24px;
			height: 20px;
			margin-right: 6px;
		}
	}
}

@keyframes show-bottom-notification {
	0% {
		transform: translateY(300px);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes close-bottom-notification {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(300px);
	}
}

@keyframes show-top-notification {
	0% {
		transform: translateY(-22px);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
