.pin-page {
	color: #fff;
	text-align: center;
	background: linear-gradient(107deg, #519bfc 0%, #3f7ed0 100%);
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	&-back-button {
		padding-top: 20px;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		padding-bottom: 36px;
		flex-grow: 1;
		margin-top: 10px;
		@include res-375 {
			padding-bottom: 16px;
		}
	}

	&__title {
		font-size: 22px;
		letter-spacing: 0.55px;
		line-height: 25px;
		@include CircularStd_Medium;
		margin-bottom: 32px;
		position: relative;

		&.with-subtitle {
			margin-bottom: 42px;
		}
	}

	&__subtitle {
		position: absolute;
		left: 0;
		right: 0;
		bottom: -30px;
		font-size: 16px;
		line-height: 20;
	}

	&__text {
		font-size: 16px;
		line-height: 20px;
		padding-top: 10px;
	}

	&__password-check {
		display: flex;
		justify-content: center;
		margin-bottom: 50px;
		width: max-content;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;

		&.wrong-pin {
			animation: wrongPin 0.4s linear;
		}

		&-item {
			width: 13px;
			height: 13px;
			border: 2px solid rgba(255, 255, 255, 0.5);
			border-radius: 50%;
			background: transparent;

			&:not(:last-child) {
				margin-right: 15px;
			}

			&.is-white {
				border: 0;
				background: #fff;
			}
		}
	}

	&__keyboard {
		display: grid;
		grid-template-columns: 75px 75px 75px;
		grid-column-gap: 28px;
		grid-row-gap: 15px;
		justify-content: center;
		margin-bottom: 20px;
		@include res-375 {
			grid-template-columns: 65px 65px 65px;
			grid-column-gap: 18px;
			grid-row-gap: 8px;
		}

		&-item {
			@include res-375 {
				width: 65px;
				height: 65px;
				font-size: 32px;
			}
			@include CircularStd_Medium;
			width: 75px;
			height: 75px;
			border-radius: 25px;
			background: rgba(255, 255, 255, 0.1);
			color: #fff;
			font-size: 36px;
			display: flex;
			align-items: center;
			justify-content: center;
			min-width: auto;

			&:last-child {
				grid-column-start: 2;
			}

			&:after {
				opacity: 0;
				width: 0;
				height: 0;
			}

			&:active {
				background: rgba(81, 155, 252, 0.3);
				&:after {
					opacity: 0;
				}
			}
		}
	}

	&-list.large-block {
		font-size: 16px;
		color: rgba(255, 255, 255, 0.7);
		margin-bottom: 18px;

		.pin-page-list__container {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 10px;
			@include res-375 {
				margin-top: 0;
			}

			.pin-page-list__item {
				margin-top: 0px;
				@include res-375 {
					margin: 0px 8px;
				}
			}

			.pin-page-list__item:first-child {
				margin-right: 8px;
			}
			.pin-page-list__item:last-child {
				margin-left: 8px;
				margin-right: 0;
			}

			.is-icon {
				@include res-375 {
					margin-right: 0;
				}
			}
		}
	}

	&-list__item {
		background: rgba(255, 255, 255, 0.1);
		display: flex;
		align-items: center;
		justify-content: center;
		width: max-content;
		margin: 0 auto;
		font-size: 16px;
		padding: 5px 6px;
		color: rgba(255, 255, 255, 0.7);
		border-radius: 6px;
		text-decoration: none;
		outline: none;
		margin-top: 5px;
		line-height: 16px;

		&.mb18 {
			margin-bottom: 18px;
		}

		&:active {
			-webkit-tap-highlight-color: transparent;
		}

		.fingerprint-white-icon {
			width: 19px;
			height: 18px;
			margin-right: 4px;
		}

		.face-id-white-icon {
			width: 18px;
			height: 18px;
			margin-right: 4px;
		}
	}

	&__button {
		padding-top: 0;
		padding-bottom: 0;
		min-height: auto;
	}

	.header {
		background: transparent;
	}
}

@keyframes wrongPin {
	15% {
		transform: translateX(30px);
	}

	40% {
		transform: translateX(-30px);
	}

	65% {
		transform: translateX(30px);
	}

	90% {
		transform: translateX(-30px);
	}

	100% {
		transform: translateX(0);
	}
}
