.scan-wrapper .scan-qr-code-page {
	background: transparent;
	display: grid;
	grid-template-rows: 108px 285px 1fr;
	grid-auto-columns: 1fr;
	padding: 0;
	height: calc(100vh - 115px);

	&__text {
		font-size: 16px;
		line-height: 22px;
		background: #fff;
		padding-bottom: 60px;
		padding: 20px 17px 16px 17px;
		color: #1c1c1c;
		@include res-375 {
			padding-bottom: 35px;
		}
	}

	&__wrapper {
		display: grid;
		grid-template-columns: 1fr 280px 1fr;

		.left-wrapper,
		.right-wrapper {
			background: #fff;
		}
	}

	&__container {
		width: 260px;
		height: 264px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		background: transparent;
		position: relative;

		.white-border {
			width: 280px;
			height: 285px;
			position: absolute;
			top: 0;
			left: -10px;
			border: 8px solid #fff;

			.border-icon {
				width: 288px;
				height: 293px;
				position: absolute;
				top: -12px;
				left: -12px;
				right: 0;
				bottom: 0;
				border: 4px solid;
				border-image: url(../images/icons/border-for-scanner-container.svg);
				border-image-slice: 1;
			}
		}
	}

	&__bottom-block {
		background: #fff;
		padding: 20px 17px 16px 17px;
	}

	&__error {
		font-size: 14px;
		color: #f08597;
		text-align: center;
		padding-top: 30px;
	}

	.loading-container {
		.loading {
			width: 70px;
			height: 70px;
		}
	}
}

.img-placeholder {
	max-width: 100%;
	object-fit: contain;
}
