.status-transaction-page {
	color: #fff;
	text-align: center;
	background: linear-gradient(180deg, #519bfc 0%, #51cdfc 100%);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 60px 10px 35px 10px;

	.is-icon {
		width: 239px;
		height: 239px;
	}

	.loading-container {
		margin-top: 30px;

		.loading-white-icon {
			width: 27px;
			height: 27px;
		}
	}

	&.is-violet {
		background: linear-gradient(180deg, #519bfc 0%, #dc80e2 100%);
	}

	&__title {
		@include CircularStd_Medium;
		font-size: 30px;
		line-height: 36px;
		width: 210px;
		margin-top: -4px;
		padding-bottom: 23px;
	}

	&__text {
		font-size: 16px;
		line-height: 20px;
		padding-bottom: 20px;
	}
}

.no-internet-page {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	background: linear-gradient(180deg, #519bfc 0%, #3f7ed0 100%);
	.status-transaction-page__title {
		width: 300px;
	}

	.opacity-0 {
		opacity: 0;
	}
}
