.authorization-page {
	min-height: 100vh;
	width: 100vw;
	background: linear-gradient(180deg, #51cdfc 0%, #3f7ed0 100%);
	padding: 220px 10px 0 10px;
	position: relative;
	display: flex;
	flex-direction: column;

	&.with-logo {
		padding: 105px 10px 0 10px;

		.authorization-page__title {
			font-size: 20px;
			padding-top: 30px;
			line-height: 28px;
			margin: initial;
			width: auto;
		}
	}

	.logo {
		background-image: url(../images/icons/logo.svg);
		background-repeat: no-repeat;
		background-size: contain;
		width: 203px;
		height: 220px;
		margin: 0 auto;
	}

	&__title {
		color: #ffffff;
		text-align: center;
		// padding-top: 30px;
		padding-bottom: 30px;
		font-size: 30px;
		width: 190px;
		margin: 0 auto;
		line-height: 36px;
	}

	&__bottom-container {
		margin: auto auto 32px auto;
	}
}
