.balances {
	z-index: 2;
	background: linear-gradient(180deg, #519bfc 0%, #3f7ed0 100%);

	//dont work on Iphone X
	// position: -webkit-sticky;
	// position: sticky;
	// top: 0;

	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 296px;

	@include res-375 {
		height: 249px;
	}
}

.balances-body {
	padding: 20px 16px 16px;
	overflow-x: auto;
}

.header-title-balances {
	margin-top: 25px;
	padding-left: 0;
	@include res-375 {
		font-size: 25px;
		margin-top: 17px;
	}
}

.balances-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 9px;
	grid-column-gap: 9px;
	margin-top: 13px;

	@include res-375 {
		grid-row-gap: 8px;
		grid-column-gap: 6px;
		margin-top: 8px;
	}

	&__item {
		background-color: rgba(255, 255, 255, 0.2);
		padding: 10px 15px;
		border-radius: 10px;
		grid-column: span 2;
		background-repeat: no-repeat;
		background-position: right;
		background-size: cover;
		text-decoration: none;

		&:active {
			-webkit-tap-highlight-color: transparent;
		}

		&.is-active {
			box-shadow: 0 0 0 1px #fff;
			background-color: rgba(255, 255, 255, 0.3);
		}

		&.is-small {
			grid-column: span 1;
			.balances-list__item-title {
				margin-bottom: 14px;
				@include res-375 {
					margin-bottom: 8px;
				}
			}

			.balances-list__value {
				font-size: 20px;
				@include res-375 {
					font-size: 17px;
				}
			}
		}

		&.bg-sdc {
			background-image: url(../images/sdc-card-background.png);
		}
		&.bg-eth {
			background-image: url(../images/eth-card-background.png);
		}
		&.bg-luv {
			background-image: url(../images/luv-card-background.png);
		}

		&-title {
			margin-right: auto;
			@include CircularStd_Medium;
			color: rgba(255, 255, 255, 0.7);
			font-size: 16px;
			display: flex;
			align-items: center;
			margin-bottom: 15px;

			@include res-375 {
				margin-bottom: 4px;
				font-size: 13px;
			}

			.is-icon {
				width: 20px;
				height: 20px;
				margin-right: 6px;
				@include res-375 {
					width: 17px;
					height: 17px;
				}
			}

			.postfix-top {
				line-height: 18px;
			}

			.button.is-small {
				margin-left: auto;
			}
		}
	}

	&__value {
		font-size: 24px;
		@include CircularStd_Bold;
		color: #fff;

		@include res-375 {
			font-size: 20px;
		}
	}
}

.transaction-history {
	padding-top: 296px;

	@include res-375 {
		padding-top: 249px;
	}

	&__title {
		font-size: 22px;
		line-height: 28px;
		color: #1c1c1c;
		padding-top: 20px;
		padding-bottom: 6px;
		padding-left: 16px;
		@include CircularStd_Medium;
		background: #fff;

		.title-inner {
			font-size: 16px;
			color: rgba(28, 28, 28, 0.5);
			@include CircularStd_Book;
			margin-left: 6px;

			&-dot {
				margin-right: 6px;
			}
		}
	}

	&__row {
		text-decoration: none;
		display: flex;
		padding: 8px 16px 12px 16px;
		align-items: center;
		border-bottom: 1px solid #eceef3;
		position: relative;
		overflow: hidden;
		background: #fff;

		&:after {
			content: "";
			position: absolute;
			top: 50%;
			display: block;
			background: rgba(126, 140, 155, 0.05);
			left: 50%;
			width: 70px;
			height: 70px;
			opacity: 0;
			transform-origin: center center;
			transition: all 0.42s ease-out;
			border-radius: 1000px;
			transform: translate(-50%, -50%);
		}

		&:active {
			-webkit-tap-highlight-color: transparent;
			&:after {
				transform: translate(-50%, -50%) scale(12);
				opacity: 1;
			}
		}

		&:first-child {
			margin-top: 5px;
		}

		&:last-child {
			margin-bottom: 50px;

			@include iphone-with-face-id {
				margin-bottom: 84px;
			}
		}

		&-information {
			margin-right: auto;
			display: flex;

			&.flex-center {
				align-items: center;
			}

			.bell-icon {
				width: 21px;
				height: 21px;
			}

			.information-details {
				color: #1c1c1c;

				&.mt-2 {
					margin-top: 2px;
				}

				&__title {
					font-size: 16px;
					color: #7e8c9b;
					margin-bottom: 2px;
					line-height: 23px;
				}

				&__text {
					font-size: 14px;
					letter-spacing: 0.35px;
					color: rgba(126, 140, 155, 0.5);
					line-height: 16px;
				}
			}
		}

		.is-icon {
			width: 21px;
			height: 21px;
			margin-right: 7px;
		}

		&-value {
			@include CircularStd_Bold;
			color: #1c1c1c;
			font-size: 20px;
		}
	}

	&__notification {
		-webkit-tap-highlight-color: transparent;
		&:after {
			width: 0;
			height: 0;
			opacity: 0;
		}

		&:active {
			&:after {
				width: 0;
				height: 0;
				opacity: 0;
			}
		}
		.information-details {
			font-size: 14px;
			line-height: 17px;
			width: 124px;
		}
	}

	&__empty {
		display: flex;
		justify-content: center;
		margin-top: 58px;
		color: #7e8c9b;
		background: #fff;
	}

	.loading-container {
		min-height: 62px;
		background: #fff;
		margin-bottom: 50px;

		@include iphone-with-face-id {
			margin-bottom: 84px;
		}

		.loading-blue-icon {
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.postfix {
	@include CircularStd_Book;
	color: #1c1c1c;
	font-size: 12px;
	text-transform: uppercase;
	margin-left: 5px;
}

.loading-container-balances {
	background: #fff;
	padding-top: 450px;

	@include res-375 {
		padding-top: 350px;
	}

	.loading {
		bottom: 0;
		transform: translateX(-50%);
	}
}
