.dashboard {
	padding: 20px 17px 16px 17px;
	display: flex;
	flex-direction: column;
	height: calc(100vh - 165px);
	overflow: auto;

	&-controls {
		display: flex;
		margin: auto auto 0 auto;

		&.flex-column {
			flex-direction: column;
		}

		.button {
			&:not(:last-child) {
				margin-right: 10px;
			}
		}
	}

	&-form {
		&__row {
			display: flex;
			align-items: center;

			&-title {
				flex-shrink: 0;
				margin-right: 20px;
				color: #7e8c9b;
				font-size: 16px;
			}

			&.mt30 {
				margin-top: 30px;
			}

			&:not(:last-child) {
				margin-bottom: 20px;
			}

			&-text {
				font-size: 14px;
				color: #7e8c9b;
			}

			&-value {
				@include CircularStd_Bold;
				margin-left: auto;
				color: #1c1c1c;
				font-size: 16px;
			}

			&-postfix {
				@include CircularStd_Book;
				font-size: 12px;
				color: rgba(28, 28, 28, 0.8);
				margin-left: 5px;
			}
		}

		margin-bottom: 20px;
	}

	&-arrow-line {
		display: flex;
		align-items: center;
		font-size: 16px;
		color: #1c1c1c;
		min-height: 46px;
		text-decoration: none;

		&:not(:last-child) {
			.dashboard-arrow-line__container {
				border-bottom: 1px solid #eceef3;
			}
		}

		&__container {
			display: flex;
			width: 100%;
			position: relative;
			padding-right: 16px;
			align-items: center;
			min-height: 100%;
		}

		&__text {
			padding: 4px 0;
		}

		&.bottom-container {
			margin-top: auto;
		}
	}

	.dashboard-arrow-line__container.no-border {
		border: 0;
	}

	&-arrow-line {
		display: flex;
		align-items: center;
		font-size: 16px;
		color: #1c1c1c;
		min-height: 46px;
		text-decoration: none;

		&:not(:last-child) {
			.dashboard-arrow-line__container {
				border-bottom: 1px solid #eceef3;
			}
		}

		&__container {
			display: flex;
			width: 100%;
			position: relative;
			padding-right: 16px;
			align-items: center;
			min-height: 100%;
		}

		&__text {
			padding: 4px 0;
		}

		&.bottom-container {
			margin-top: auto;
		}
	}

	.dashboard-arrow-line__container.no-border {
		border: 0;
	}
}
