.dashboard {
	padding: 20px 17px 16px 17px;
	display: flex;
	flex-direction: column;
	height: calc(100vh - 165px);
	overflow: auto;

	&-controls {
		display: flex;
		margin: auto auto 0 auto;

		&.flex-column {
			flex-direction: column;
		}

		.button {
			&:not(:last-child) {
				margin-right: 10px;
			}
		}
	}

	&-form {
		display: flex;
		flex-direction: column;

		&.with-controls {
			flex-grow: 1;
			margin-bottom: 0;
		}

		&__row {
			display: flex;
			align-items: center;

			&-title {
				flex-shrink: 0;
				margin-right: 20px;
				color: #7e8c9b;
				font-size: 16px;
			}

			&.mt10 {
				margin-top: 10px;
			}

			&.mt30 {
				margin-top: 30px;
			}

			&:not(:last-child) {
				margin-bottom: 20px;
			}

			&-text {
				font-size: 14px;
				color: #7e8c9b;
				margin-right: 5px;
			}

			&-value {
				@include CircularStd_Bold;
				margin-left: auto;
				color: #1c1c1c;
				font-size: 16px;
				text-align: right;
			}

			&-postfix {
				@include CircularStd_Book;
				font-size: 12px;
				color: rgba(28, 28, 28, 0.8);
				margin-left: 5px;
			}

			&-container {
				flex-shrink: 0;
				display: flex;
				align-items: center;
				margin-right: 15px;

				.is-icon {
					width: 20px;
					height: 20px;
				}

				.postfix {
					font-size: 16px;
					@include CircularStd_Bold;
					margin-left: 7px;
				}
			}
		}

		margin-bottom: 20px;
	}

	&-arrow-line {
		display: flex;
		align-items: center;
		font-size: 16px;
		color: #1c1c1c;
		min-height: 46px;
		text-decoration: none;
		position: relative;
		overflow: hidden;
		padding-left: 17px;

		&:after {
			content: "";
			position: absolute;
			top: 50%;
			display: block;
			background: rgba(126, 140, 155, 0.05);
			left: 50%;
			width: 70px;
			height: 70px;
			opacity: 0;
			transform-origin: center center;
			transition: all 0.42s ease-out;
			border-radius: 1000px;
			transform: translate(-50%, -50%);
		}

		&:active {
			&:after {
				transform: translate(-50%, -50%) scale(12);
				opacity: 1;
			}
		}

		&.no-active-effect {
			&:after {
				content: "";
				width: 0;
				height: 0;
				opacity: 0;
			}
		}
		&:not(:last-child) {
			.dashboard-arrow-line__container {
				border-bottom: 1px solid #eceef3;
			}
		}

		&__container {
			display: flex;
			width: 100%;
			position: relative;
			padding-right: 16px;
			align-items: center;
			min-height: 100%;
		}

		&__text {
			padding: 4px 0;
		}

		&.bottom-container {
			margin-top: auto;
		}
	}

	.dashboard-arrow-line__container.no-border {
		border: 0;
	}

	&-stripe {
		padding: 16px 15px 16px 0;
		border-bottom: 1px solid #eceef3;

		&:first-child {
			padding-top: 0;
		}

		& :last-child {
			border-bottom: 0;
			padding-bottom: 0;
		}

		&__title {
			font-size: 12px;
			color: rgba(126, 140, 155, 0.7);
		}

		&__text {
			font-size: 16px;
			line-height: 20px;
			margin-top: 4px;
		}
	}
}

.wrapper-transaction {
	position: relative;
	z-index: 10;
}

.show-top {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	// background: #fff;
	background: transparent;
	z-index: 2;
}
