.receive-page {
	@include res-375 {
		padding-bottom: 8px;
	}

	&__text-signature {
		font-size: 15px;
		line-height: 16px;
		@include CircularStd_Bold;
		color: #519bfc;
		margin: 0 auto;
		text-decoration: none;
		outline: 0;
		border: 0;
		background: transparent;

		&:active {
			opacity: 0.7;
			-webkit-tap-highlight-color: transparent;
		}
	}

	&__text-prefix {
		color: #7e8c9b;
		font-size: 15px;
		margin: 0 auto;
	}

	.scan-qr-code-block {
		@include res-375 {
			width: 145px;
			height: 145px;
			padding: 10px;
			margin: 0px auto 10px auto;
		}

		margin: 5px auto 15px auto;
		width: 200px;
		height: 200px;
		border: 1px solid #eceef3;
		padding: 13px;

		&.is-small {
			width: 165px;
			height: 165px;
			margin-bottom: 17px;

			@include res-375 {
				width: 102px;
				height: 102px;
				margin-bottom: 10px;
				padding: 6px;
			}
		}

	  	&.text-center {
			display: flex;
		  	justify-content: center;
			align-items: center;
			text-align: center;
		}

		.img-placeholder {
			max-width: 100%;
			object-fit: contain;
		}
	}

	.transaction-information {
		font-size: 16px;
		line-height: 20px;
		margin-top: 35px;
		flex-direction: column;
		align-items: flex-start;

		&__title {
			font-size: 12px;
			color: rgba(126, 140, 155, 0.7);
			line-height: 14px;
		}

		&__container {
			display: flex;
			width: 100%;
		}

		&__value {
			font-size: 20px;
			@include CircularStd_Bold;

			&.mt-3 {
				margin-top: 3px;
			}

			.postfix {
				@include CircularStd_Book;
				margin-left: 5px;
				font-size: 12px;
			}
		}

		&__text {
			margin-right: auto;
		}

		@include res-375 {
			margin-top: 23px;
		}
	}

	.is-wide {
		min-width: 278px;
	}

	.dashboard-form {
		margin-bottom: 0;
	}
}
