.header {
	@include CircularStd_Medium;
	position: relative;
	background: linear-gradient(180deg, #519bfc 0%, #3f7ed0 100%);
	//header width is 115px
	//95px height in css plus 20px status bar in standard phone
	min-height: 95px;
	display: flex;
	flex-direction: column;
	padding: 10px 0px 8px 0;

	&-title {
		@include CircularStd_Book;
		color: #fff;
		font-size: 30px;
		line-height: 40px;
		padding-left: 17px;
		margin-top: auto;
	}
}
