.sidebar {
	min-height: 50px;
	background-color: #f5f6f9;
	display: flex;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	border-top: 1px solid #eceef3;
	border-bottom: 1px solid transparent;
	padding-bottom: constant(safe-area-inset-bottom); //for ios 11
	padding-bottom: env(safe-area-inset-bottom);

	&-item {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		color: #7e8c9b;
		font-size: 10px;
		line-height: 14px;
		padding-top: 8px;
		padding-bottom: 4px;
		text-decoration: none;
		line-height: 10px;
		transition: all 0.2s ease-out;
		-webkit-tap-highlight-color: transparent;

		&.is-active {
			color: #519bfc;
			svg path {
				fill: #519bfc;
			}
		}

		.is-icon {
			width: 22px;
			height: 22px;
			margin-bottom: 5px;
		}

		.wallet-icon {
			width: 28px;
			height: 22px;
		}
	}
}

.hide-sidebar {
	.dashboard {
		height: calc(100vh - 95px);
	}

	.backup-page {
		padding-bottom: 20px;
	}

	.sidebar {
		display: none;
	}
}