@mixin screen-max($width) {
	@media (max-width: $width + "px") {
		@content;
	}
}

@mixin screen-min($width) {
	@media (min-width: $width + "px") {
		@content;
	}
}

@mixin absolute-stretch {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

@mixin CircularStd_Bold {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font: {
		family: "Circularstd Bold", sans-serif;
		weight: 400;
	}
}

@mixin CircularStd_Book {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font: {
		family: "Circularstd Book", sans-serif;
		weight: 400;
	}
}

@mixin CircularStd_Medium {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font: {
		family: "Circularstd Medium", sans-serif;
		weight: 400;
	}
}
